<div id="getting-started"></div>
<script type="text/javascript">
   $("#getting-started").countdown("2016/0/01", function(event) {
   $(this).text(event.strftime('%D days %H:%M:%S'));
   });
 </script>